@import "tailwindcss";

:root {
  --background: #d8d8d8;
  --foreground: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #d8d8d8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  height: 100dvh;
  overflow: hidden;
}